<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Go by Example - IT</title>
    <link rel=stylesheet href="site.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YS5D7DR8P1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YS5D7DR8P1');
    </script>
  </head>
  <body>
    <div id="intro">
      <h2><a href="./">Go by Example - IT</a></h2>
      <p>
        <a href="http://golang.org">Go</a> è un
        linguaggio di programmazione open source ideato
        per la creazione di software semplice, veloce e
        efficiente.
      </p>

      <p>
        <em>Go by Example - IT</em> è una introduzione pratica
        a Go che utilizza programmi di esempio commentati
        con adeguate spiegazioni. Dai un'occhiata al
        <a href="hello-world.html">primo esempio</a> o cerca
        nella lista intera qui di seguito.
      </p>

      <p>
        Quella che vedi è la traduzione italiana del progetto
        <em>Go by Example</em> (<a href="http://gobyexample.com">gobyexample.com</a>),
        realizzata dalla community italiana di golang (<a href="http://golangit.github.io/">golang-it</a>).
      </p>

      <ul>
      {{range .}}
        <li><a href="{{.Id}}.html">{{.Name}}</a></li>
      {{end}}
      </ul>
      <p class="footer">
        by <a href="https://twitter.com/cortinico">@cortinico</a> &amp; <a href="https://twitter.com/_tyge">@_tyge</a> | <a href="mailto:dahhowl@gmail.com,corti.nico@gmail.com">feedback</a> | <a href="https://github.com/golangit/gobyexample-it">source</a> | <a href="https://github.com/golangit/gobyexample-it#license">license</a>
      </p>
    </div>
  </body>
</html>
