{{define "footer"}}
    <p class="footer">
    Автори <a href="https://markmcgranaghan.com">Марк МакГанахан</a> та <a href="https://eli.thegreenplace.net">Елай Бендерскі</a> | Переклад <a href="https://github.com/butuzov">@butuzov</a> | <a href="https://github.com/butuzov/gobyexample/blob/ukrainian/examples/{{.ID}}">source</a> | <a href="https://github.com/butuzov/gobyexample#license">ліцензія</a>
    </p>
{{end}}

