/* Make draft links from included SUMMARY.md on README.md non-clickable. */
#content a[href=""] {
    color: var(--sidebar-non-existant);;
    text-decoration: none;
    cursor: default;
    pointer-events: none;
}