<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Le Go par l'exemple</title>
    <link rel=stylesheet href="site.css">
  </head>
  <body>
    <div id="intro">
      <h2><a href="./">Le Go par l'exemple</a></h2>
      <p>
        <a href="http://golang.org">Go</a> est langage de programmation open-source conçu pour permettre de réaliser des programmes simples, rapides et fiables.
      </p>

      <p>
        <em>Le Go par l'exemple</em> est une introduction pratique au Go avec des programmes d'exemple annotés. Regardez le <a href="hello-world">premier exemple</a> ou naviguez dans la liste complète ci-dessous.
      </p>

      <ul>
      {{range .}}
        <li><a href="{{.Id}}.html">{{.Name}}</a></li>
      {{end}}
      </ul>
      <p class="footer">
        par <a href="https://twitter.com/clemkeirua">@clemkeirua</a> de <a href="http://www.keiruaprod.fr">KeiruaProd</a> | <a href="mailto:clement@keiruaprod.fr">retours</a> | <a href="https://github.com/Keirua/gobyexample">source</a> | <a href="https://github.com/Keirua/gobyexample#license">license</a>
      </p>
    </div>
  </body>
</html>
