<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Go by Example</title>
    <link rel=stylesheet href="site.css">
    <script>
        onkeydown = (e) => {
            if (e.key == "ArrowRight") {
                window.location.href = './hello-world';
            }
        }
    </script>
  </head>
  <body>
    <div id="intro">
      <h2><a href="./">Go за Прикладом</a></h2>
      <p>
        <a href="http://golang.org">Go</a> є мовою програмування з відкритим
        кодом призначена для створення простого, швидкого та надійного
        програмного забезпечення.
        Please read the official
        <a href="https://go.dev/doc/tutorial/getting-started">documentation</a>
        to learn a bit about Go code, tools packages,
        and modules.
      </p>
      <p>
        <em>Go за Прикладом</em> це практичне введення до Go з використанням
        анотованих пракладів. Зацініть <a href="./hello-world.html">
        "Привіт Світ"</a> aбо скористайтесь поданим нижче переліком прикладів.
      </p>

      <ul>
      {{range .}}
        <li><a href="{{.ID}}.html">{{.Name}}</a></li>
      {{end}}
      </ul>
{{ template "footer" }}
    </div>
    <script src="site.js" async></script>
  </body>
</html>
